

/* Header container */
.header{
    background-color:#1D1616;
    height: 100px;
    display: flex;
    border-bottom: 3px solid white;
    
}
.title{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
}
.pfp{
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.footer{
   text-align: center;
   background-color: #8E1616;
   height: fit-content;
   margin-top: 10px;
}

.title-text{
    font-family: Arial, sans-serif;
    margin-top: 5%;
    color: aliceblue;

}
