# get genius api key from https://docs.genius.com/
GENIUS_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=supersecurepassword
# redis database to use (if you dont know what this does just keep it default)
REDIS_DATABASE=0